*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(banner-bg.jpg);
}
.div{
    width: 100%;
    height: 7vh;
    background: blue;
}
.body{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}



.address-info{
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    background: red; 
    width: 65%;
    height: 87%;
    border-radius: 30px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    background:#F7EDFF;
}
.heading{
    text-align: center;
    margin-top: 40px;
}
form{
    width: 90%;
}

.half{
    margin: 25px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* background-color: brown; */
}
.full{
    margin: 25px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* background-color: brown; */
}
.half-input{
    width: 45%;
    height: 30px;
    border: none;
     background-color:#80808024; 
    outline: none;
    border-radius: 15px;
    /* border-bottom: 2px solid black; */
}
.full-input{
    width: 95%;
    height:30px;
    border: none;
    border-radius: 15px;
    background-color: #80808024;
    outline: none;
    /* border-bottom: 2px solid black; */
}
.submit22{
    margin: 25px 0 ;
    display: flex;
    width: 100%;
    justify-content: center;
}
.submit-btn{
    width: 60%;
    height: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #f48686;
    color: white;
    font-weight: 700;
}
.singup-info form{
    width: 100%;
    height: 20vh;
    /* background :chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div{
    border: 2px solid black;
    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-div i{
    font-size: 80px;
}
.singup-info{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 2px solid black; */
    background-color: #f48686;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}
.singup-info p{
    margin-bottom: 20px;
}

.links li{
    list-style: none;
    margin: 10px  0px;
    border-radius: 10px;
    display: flex;
    height: 30px;
    width: 80%;
    margin-left: 2%;
   padding: 0 20px;
    align-items: center;
    cursor: pointer;
}

.links a:hover{
    /* color: white; */
    font-size: 100%;
}
.links a{
    text-decoration: none;
    font-size: 15px;
    color: brown;
    
}
@media (max-width:820px) {
    .main-container{
        flex-direction: column;
        height: 55rem;
        align-items: center;
        width: 95%;
        border: none;
    }
    #bekar{
        display: none;
    }
    .profile-info{
        width: 100%;
        height: 45%;
    }
    .address-info{
        width: 100%;
        height: 50%;
    }
    .address-info form{
        width: 100%;
    }
    .body{
        height: 58rem;
        width: 100%;
    }
    h1{
        margin-top: 28px;
    }
}
