*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100%;
    /* background: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .form-wrapper{
    width: 30%;
    height: 60%;
    border: 2px solid black;
    background: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form{
    border:2px solid black;
    width: 70%;
    height: 70%;
}
.main input{
    display: inline-block;
    width: 100%;
    height: 32.3%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}
.main input::placeholder{
    color: rgb(140, 24, 140);
    text-align: center;
}
#submit{
    width: 100%;
    border: none;
    height: 33.8%;
    background: #1d0aef;
    color: white;
    font-size: large;
    cursor: pointer;
}
.dont{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color: rgb(140, 24, 140);
}
.dont span a{
    text-decoration: none;
    color: rgb(140, 24, 140);
}
